header.ild-duct-header {
  height: 45px;
  background-color: #ff841d;
  padding: 0px 42px 0px 16px;
}
header.ild-duct-header div.left a {
  position: absolute;
  top: 10px;
  left: 10px;
}
header.ild-duct-header div.left h2 {
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  color: #fff;
  font-weight: bold;
  text-align: center  ;
}
header.ild-duct-header a.downLoad {
  position: absolute;
  right: 12px;
  top: 8px;
  height: 34px;
  width: 34px;
  background: url("../images/header_app.png") no-repeat;
  background-size: 100%;
}
section.ild-duct-container {
  padding: 20px 10px 10px 20px;
  width: 100%;
}
section.ild-duct-container div.ild-duct-info {
  width: 100%;
}
section.ild-duct-container div.ild-duct-info h2 {
  line-height: 20px;
  color: #585550;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
section.ild-duct-container div.ild-duct-info h4 {
  color: red;
  margin-bottom: 10px;
}
section.ild-duct-container div.ild-duct-info span {
  color: #97a1a3;
}
section.ild-duct-container div.ild-duct-info p.info1 {
  font-size: 15px;
  color: #2c292d;
  margin-top: 15px;
}
section.ild-duct-container div.ild-duct-info p.info1 img {
  float: right;
  width: 120px;
  overflow: hidden;
}
section.ild-duct-container div.ild-duct-info p.info2 {
  overflow: hidden;
  color: #2c292d;
}
section.ild-duct-container div.ild-duct-info div.img {
  text-align: center;
}
section.ild-duct-container div.ild-duct-info div.productCity {
  width: 100%;
  text-align: center;
}
section.ild-duct-container div.ild-duct-info div.productCity ul {
  max-width: 350px;
  width: 50%;
  display: inline-block;
  padding: 15px;
  box-shadow: 1px 1px 3px 3px gray;
}
section.ild-duct-container div.ild-duct-info div.productCity ul li {
  border-bottom: 1px dashed #dedede;
}
section.ild-duct-container div.ild-duct-info div.productCity ul li a {
  display: block;
  font-size: 12px;
  padding: 3px;
}
section.ild-duct-container div.ild-duct-info div.productCity ul li a span {
  display: block;
  text-indent: 10px;
  text-align: left;
}
section.ild-duct-container div.ild-duct-info div.productCity ul li a span strong {
  float: right;
  color: #f38921;
  margin-right: 10px;
}
section.ild-duct-container div.ild-duct-info div.fixed {
  padding: 20px;
  width: 100%;
}
section.ild-duct-container div.ild-duct-info div.fixed a {
  background-color: #ff9000;
  color: #fff;
  display: block;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
section.ild-duct-container div.ild-duct-info div.imgSaoMa {
  text-align: center;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl {
  margin-top: 30px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.tit {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.reply div.form {
  position: relative;
  text-align: center;
  width: 100%;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.reply div.form textarea {
  display: block;
  height: 110px;
  width: 100%;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.reply div.form div.ctrl {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.reply div.form div.ctrl input {
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #ff841d;
  color: #fff;
  font-size: 15px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.reply div.tit {
  font-size: 16px;
  padding: 6px 8px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li {
  padding: 18px 10px;
  background-color: #FFFFFF;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.userimg {
  width: 40px;
  float: left;
  overflow: hidden;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.userimg img {
  width: 40px;
  background-position: top;
  border-radius: 20px;
  height: 40px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.con {
  overflow: hidden;
  padding-left: 10px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.con div.name {
  margin-bottom: 6px;
  color: #2e8b01;
  font-size: 14px;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.con div.name div.username {
  color: #5997c0;
  font-size: 13px !important;
  float: left;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.con div.name div.time {
  color: #999999;
  font-size: 13px !important;
  float: right;
}
section.ild-duct-container div.ild-duct-info div.cu-content-pl div.list ul li div.con div.content {
  word-break: break-all;
  font-size: 15px !important;
  color: #606060;
  line-height: 20px;
}
